Assistente-Virtual-V1-Watson
[{"id":"3dab1cb2.3446c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"31be7183.e80fbe","type":"exec","z":"3dab1cb2.3446c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":993,"y":464.5,"wires":[[],[],[]]},{"id":"e6c1a48d.0b5008","type":"change","z":"3dab1cb2.3446c4","name":"Conversor do Assistent","rules":[{"t":"move","p":"payload.output.text.0","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":653,"y":245,"wires":[["812f2e2.d51e5d"]]},{"id":"c3059f49.433748","type":"watson-conversation-v1","z":"3dab1cb2.3446c4","name":"","workspaceid":"9e0aed74-d8e1-4e34-bea6-8dd7999fd7bb","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":573,"y":194,"wires":[["e6c1a48d.0b5008"]]},{"id":"812f2e2.d51e5d","type":"watson-text-to-speech","z":"3dab1cb2.3446c4","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/mp3","password":"","apikey":"-kVC-3jMHOu5tQlSBZuspMvYT_slbFxqiW_Ijoo6YIpi","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":658,"y":290,"wires":[["51aaf231.747e44"]]},{"id":"51aaf231.747e44","type":"change","z":"3dab1cb2.3446c4","name":"Conversor do Text to Speech ","rules":[{"t":"move","p":"speech","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":754,"y":345,"wires":[["68587ce2.1b8bc4","8c4dbaea.e58b28"]]},{"id":"68587ce2.1b8bc4","type":"file","z":"3dab1cb2.3446c4","name":"","filename":"teste.mp3","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":719,"y":391,"wires":[[]]},{"id":"516bc953.5346b","type":"tail","z":"3dab1cb2.3446c4","name":"","filetype":"binary","split":"[]{0,1}","filename":"teste.mp3","x":699,"y":467,"wires":[["20f7d0a4.0191e"]]},{"id":"20f7d0a4.0191e","type":"template","z":"3dab1cb2.3446c4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"omxplayer teste.mp3","output":"str","x":852,"y":467,"wires":[["31be7183.e80fbe"]]},{"id":"d6b675a1.2aaa5","type":"microphone","z":"3dab1cb2.3446c4","name":"","x":469,"y":38,"wires":[["d7d31c91.22623"]]},{"id":"d7d31c91.22623","type":"watson-speech-to-text","z":"3dab1cb2.3446c4","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"fH-BlABvi0o2eooucYTwoe6d86VP60prY_6Y2V6Tm6sP","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":510,"y":93,"wires":[["d0b012e1.b42968"]]},{"id":"d0b012e1.b42968","type":"change","z":"3dab1cb2.3446c4","name":"Conversor do Speech to Text","rules":[{"t":"move","p":"transcription","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":608,"y":150,"wires":[["c3059f49.433748","8c4dbaea.e58b28"]]},{"id":"8c4dbaea.e58b28","type":"debug","z":"3dab1cb2.3446c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":205,"wires":[]},{"id":"c698df2a.299898","type":"template","z":"3dab1cb2.3446c4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"fswebcam -r 1280x720 image2.jpg","output":"str","x":438,"y":476,"wires":[[]]}]
