Telegram+WatsonAssistant (LowCode)
[{"id":"cfe762cf.23fd2","type":"chatbot-telegram-receive","z":"ee8da943.0eddb8","bot":"539eccce.65a734","botProduction":"","x":95,"y":129.11111640930176,"wires":[["d470bd9a.fbc17","494d68ca.a942a8"]]},{"id":"98e46d82.03001","type":"watson-conversation-v1","z":"ee8da943.0eddb8","name":"","workspaceid":"9e0aed74-d8e1-4e34-bea6-8dd7999fd7bb","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":460,"y":120,"wires":[["372a129.40e93ee","bd46af44.07427"]]},{"id":"3b865b.b67609a6","type":"chatbot-telegram-send","z":"ee8da943.0eddb8","bot":"539eccce.65a734","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":830,"y":120,"wires":[]},{"id":"d470bd9a.fbc17","type":"function","z":"ee8da943.0eddb8","name":"Conversão por Código \"Entrada\"","func":"context.flow.chatId = msg.payload.chatId\ncontext.flow.type = msg.payload.type\nmsg.payload = msg.payload.content\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["98e46d82.03001"]]},{"id":"bd46af44.07427","type":"function","z":"ee8da943.0eddb8","name":"Conversão por Código \"Saída\"","func":"msg.payload.chatId = context.flow.chatId \nmsg.payload.type = context.flow.type\nmsg.payload.content = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":60,"wires":[["3b865b.b67609a6"]]},{"id":"494d68ca.a942a8","type":"change","z":"ee8da943.0eddb8","name":"Conversão por Regras \"Entrada\"","rules":[{"t":"move","p":"payload.chatId","pt":"msg","to":"context.chatId","tot":"flow"},{"t":"move","p":"payload.type","pt":"msg","to":"context.type","tot":"flow"},{"t":"move","p":"payload.content","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":200,"wires":[["98e46d82.03001"]]},{"id":"372a129.40e93ee","type":"change","z":"ee8da943.0eddb8","name":"Conversão por Regras \"Saída\"","rules":[{"t":"move","p":"context.chatId","pt":"flow","to":"payload.chatId","tot":"msg"},{"t":"move","p":"context.type","pt":"flow","to":"payload.type","tot":"msg"},{"t":"move","p":"msg.payload.output.text[0]","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":180,"wires":[["3b865b.b67609a6"]]},{"id":"7802d6da.0416d8","type":"comment","z":"ee8da943.0eddb8","name":"Leia-Me Conversão de Entrada","info":"**#Portugues#**\nNesse Exemplo Mostramos a Entrada de dados pelo Telegram,\nsalvamos as informações de chatId e type e convertemos a entrada\ndo texto que vem via msg.payload.content para msg.payload\npara processamento dentro do node do Watson Assistant v1 da IBM.\n\nNão é necessário utilizar os dois modelos de conversão,\nutilize a que mais lhe agradar, com ou Sem Código.\n\n**English**\n\nIn this Example, we show the Telegram data entry,\nwe saved the chatId and type information and converted the input\nof text coming via msg.payload.content to msg.payload\nfor processing within the IBM Watson Assistant v1 node.\n\nYou do not need to use both conversion models,\nuse the one you like best, with or without code.\n\n**Frances**\n\nDans cet exemple, nous montrons la saisie de données Telegram,\nnous avons sauvegardé le chatId et les informations de type et converti l'entrée\ndu texte venant via msg.payload.content à msg.payload\npour le traitement dans le noeud IBM Watson Assistant v1.\n\nVous n'avez pas besoin d'utiliser les deux modèles de conversion,\nutilisez celui que vous préférez, avec ou sans code.","x":270,"y":20,"wires":[]},{"id":"57396072.686ed","type":"comment","z":"ee8da943.0eddb8","name":"Leia-Me Conversão de Entrada","info":"**#Portugues#**\nNo Exemplo de saída retornamos as informações de chatId e Type\npara os objetos da Payload e também convertemos a resposta do \nwatson assistent V1 que vem no objeto msg.payload.output.text[0]\nPara o msg.payload.content que o node de saída do telegram espera receber.\n\nNão é necessário utilizar os dois modelos de conversão,\nutilize a que mais lhe agradar, com ou Sem Código.\n\n**English**\n\nIn the Output Example we return the information from chatId and Type\nPayload objects and also convert the\nwatson assistent V1 that comes in the object msg.payload.output.text [0]\nFor the msg.payload.content that the telegram output node expects to receive.\n\nYou do not need to use both conversion models,\nuse the one you like best, with or without code.\n\n**Frances**\n\nDans l'exemple de sortie, nous renvoyons les informations de chatId et Type.\nObjets de charge utile et aussi convertir le\nwatson assistent V1 inclus dans l'objet msg.payload.output.text [0]\nPour le msg.payload.content que le noeud de sortie du télégramme s'attend à recevoir.\n\nVous n'avez pas besoin d'utiliser les deux modèles de conversion,\nutilisez celui que vous préférez, avec ou sans code.","x":630,"y":20,"wires":[]},{"id":"539eccce.65a734","type":"chatbot-telegram-node","z":"","botname":"MRobot","usernames":"Pfveiga7","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false}]
