Telegram+WatsonAssistant (LowCode)
[{"id":"ee8da943.0eddb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cfe762cf.23fd2","type":"chatbot-telegram-receive","z":"ee8da943.0eddb8","bot":"539eccce.65a734","botProduction":"","x":95,"y":293.55554008483887,"wires":[["d470bd9a.fbc17","494d68ca.a942a8"]]},{"id":"98e46d82.03001","type":"watson-conversation-v1","z":"ee8da943.0eddb8","name":"","workspaceid":"9e0aed74-d8e1-4e34-bea6-8dd7999fd7bb","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":468.11109924316406,"y":284.5555667877197,"wires":[["372a129.40e93ee","bd46af44.07427"]]},{"id":"3b865b.b67609a6","type":"chatbot-telegram-send","z":"ee8da943.0eddb8","bot":"539eccce.65a734","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":839.4444847106934,"y":279.7778091430664,"wires":[]},{"id":"d470bd9a.fbc17","type":"function","z":"ee8da943.0eddb8","name":"Conversão por Código \"Entrada\"","func":"context.flow.chatId = msg.payload.chatId\ncontext.flow.type = msg.payload.type\nmsg.payload = msg.payload.content\nreturn msg;","outputs":1,"noerr":0,"x":291.66664123535156,"y":222.22222328186035,"wires":[["98e46d82.03001"]]},{"id":"bd46af44.07427","type":"function","z":"ee8da943.0eddb8","name":"Conversão por Código \"Saída\"","func":"msg.payload.chatId = context.flow.chatId \nmsg.payload.type = context.flow.type\nmsg.payload.content = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":650.3333206176758,"y":219.88887977600098,"wires":[["3b865b.b67609a6"]]},{"id":"494d68ca.a942a8","type":"change","z":"ee8da943.0eddb8","name":"Conversão por Regras \"Entrada\"","rules":[{"t":"move","p":"payload.chatId","pt":"msg","to":"context.chatId","tot":"flow"},{"t":"move","p":"payload.type","pt":"msg","to":"context.type","tot":"flow"},{"t":"move","p":"payload.content","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":288.22222900390625,"y":356.11108207702637,"wires":[["98e46d82.03001"]]},{"id":"372a129.40e93ee","type":"change","z":"ee8da943.0eddb8","name":"Conversão por Regras \"Saída\"","rules":[{"t":"move","p":"context.chatId","pt":"flow","to":"payload.chatId","tot":"msg"},{"t":"move","p":"context.type","pt":"flow","to":"payload.type","tot":"msg"},{"t":"move","p":"msg.payload.output.text[0]","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":654.7778129577637,"y":351.4444465637207,"wires":[["3b865b.b67609a6"]]},{"id":"539eccce.65a734","type":"chatbot-telegram-node","z":"","botname":"MRobot","usernames":"Pfveiga7","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false}]
